<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2024-02-24T21:20:36Z</date>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>home</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/chrisstayte/SourceControl/beltofdestiny/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-03-11T12:33:16Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/bs-fonts/bootstrap-icons.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UhlihN4fy1sE
								TwAadUgtug==
								</data>
								<key>Size</key>
								<integer>164352</integer>
							</dict>
							<key>files/bs-fonts/bootstrap-icons.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								f0d2M93RL4Qo
								RlTyouibig==
								</data>
								<key>Size</key>
								<integer>121296</integer>
							</dict>
							<key>files/drag-and-drop-img-60.png</key>
							<dict>
								<key>Digest</key>
								<data>
								hLdFv3C66u6c
								8tUpIsZ5+g==
								</data>
								<key>Size</key>
								<integer>43228</integer>
							</dict>
							<key>files/drag-and-drop-img-69.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HpHQLPWpAvOP
								KSPABteSgQ==
								</data>
								<key>Size</key>
								<integer>4904</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NsaK1kaVjAFZ
								R6qmyy6QKg==
								</data>
								<key>Size</key>
								<integer>74241</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								u5U4puL/1YiA
								Ex1FOtF89A==
								</data>
								<key>Size</key>
								<integer>120533</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								k4UsuYsqZ8gG
								TCg/JDtyRQ==
								</data>
								<key>Size</key>
								<integer>962</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								IvMNYDJDpYYK
								S4HLHojnYw==
								</data>
								<key>Size</key>
								<integer>12256</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/bs-fonts/bootstrap-icons.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UhlihN4fy1sE
								TwAadUgtug==
								</data>
								<key>Size</key>
								<integer>164352</integer>
							</dict>
							<key>files/bs-fonts/bootstrap-icons.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								f0d2M93RL4Qo
								RlTyouibig==
								</data>
								<key>Size</key>
								<integer>121296</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NsaK1kaVjAFZ
								R6qmyy6QKg==
								</data>
								<key>Size</key>
								<integer>74241</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NxtFc8QGa4di
								J8xFmNO0Uw==
								</data>
								<key>Size</key>
								<integer>111930</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								EhT/VKB6NuDG
								y3H0Vp3YIA==
								</data>
								<key>Size</key>
								<integer>11457</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MTUEldQsysjJ
								bhrW5xRllg==
								</data>
								<key>Size</key>
								<integer>3960</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
