<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/chrisstayte/SourceControl/beltofdestiny/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T23:09:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/bs-fonts/bootstrap-icons.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UhlihN4fy1sE
								TwAadUgtug==
								</data>
								<key>Size</key>
								<integer>164352</integer>
							</dict>
							<key>files/bs-fonts/bootstrap-icons.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								f0d2M93RL4Qo
								RlTyouibig==
								</data>
								<key>Size</key>
								<integer>121296</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NsaK1kaVjAFZ
								R6qmyy6QKg==
								</data>
								<key>Size</key>
								<integer>74241</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								vueMgGL2ac4T
								5Mv66LwvQA==
								</data>
								<key>Size</key>
								<integer>112200</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								egHlEp2+X1RE
								Sync0d9snA==
								</data>
								<key>Size</key>
								<integer>962</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RLRZkmig+A+A
								xfFe+GkLhg==
								</data>
								<key>Size</key>
								<integer>4786</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page0 - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/bs-fonts/bootstrap-icons.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UhlihN4fy1sE
								TwAadUgtug==
								</data>
								<key>Size</key>
								<integer>164352</integer>
							</dict>
							<key>files/bs-fonts/bootstrap-icons.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								f0d2M93RL4Qo
								RlTyouibig==
								</data>
								<key>Size</key>
								<integer>121296</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NsaK1kaVjAFZ
								R6qmyy6QKg==
								</data>
								<key>Size</key>
								<integer>74241</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NxtFc8QGa4di
								J8xFmNO0Uw==
								</data>
								<key>Size</key>
								<integer>111930</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								EhT/VKB6NuDG
								y3H0Vp3YIA==
								</data>
								<key>Size</key>
								<integer>11457</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MTUEldQsysjJ
								bhrW5xRllg==
								</data>
								<key>Size</key>
								<integer>3960</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/chrisstayte/SourceControl/beltofdestiny/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-25T01:21:32Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/bs-fonts/bootstrap-icons.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UhlihN4fy1sE
								TwAadUgtug==
								</data>
								<key>Size</key>
								<integer>164352</integer>
							</dict>
							<key>files/bs-fonts/bootstrap-icons.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								f0d2M93RL4Qo
								RlTyouibig==
								</data>
								<key>Size</key>
								<integer>121296</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NsaK1kaVjAFZ
								R6qmyy6QKg==
								</data>
								<key>Size</key>
								<integer>74241</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lMR8ip0iE1vZ
								Y0xE4ZK5mw==
								</data>
								<key>Size</key>
								<integer>113004</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								egHlEp2+X1RE
								Sync0d9snA==
								</data>
								<key>Size</key>
								<integer>962</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Y0U+p0HnVJA1
								hiU0kEF2dg==
								</data>
								<key>Size</key>
								<integer>10331</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>privacy</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/chrisstayte/SourceControl/beltofdestiny/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-25T01:58:12Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/bs-fonts/bootstrap-icons.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UhlihN4fy1sE
								TwAadUgtug==
								</data>
								<key>Size</key>
								<integer>164352</integer>
							</dict>
							<key>files/bs-fonts/bootstrap-icons.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								f0d2M93RL4Qo
								RlTyouibig==
								</data>
								<key>Size</key>
								<integer>121296</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NsaK1kaVjAFZ
								R6qmyy6QKg==
								</data>
								<key>Size</key>
								<integer>74241</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lMR8ip0iE1vZ
								Y0xE4ZK5mw==
								</data>
								<key>Size</key>
								<integer>113004</integer>
							</dict>
							<key>files/stacks_page_page2.js</key>
							<dict>
								<key>Digest</key>
								<data>
								egHlEp2+X1RE
								Sync0d9snA==
								</data>
								<key>Size</key>
								<integer>962</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								V2xTB2E8YELW
								B5yGjNwIOw==
								</data>
								<key>Size</key>
								<integer>10444</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>terms</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/chrisstayte/SourceControl/beltofdestiny/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-25T01:58:12Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								ASmiIv4QyYlt
								sZHFN2lGmQ==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								IxVZmKtoXCby
								nZHlRXdWEA==
								</data>
								<key>Size</key>
								<integer>351</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								ASmiIv4QyYlt
								sZHFN2lGmQ==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								uYOQUwUjWob/
								NGKQO1nw0Q==
								</data>
								<key>Size</key>
								<integer>175</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/chrisstayte/SourceControl/beltofdestiny/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T23:05:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>arcade_ya/ARCADE_I.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								DF3wwuVoYxT+
								FdoyPYUREg==
								</data>
								<key>Size</key>
								<integer>4296</integer>
							</dict>
							<key>arcade_ya/ARCADE_N.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								56W5AnFWdvQU
								MeCy7Q89Vg==
								</data>
								<key>Size</key>
								<integer>5632</integer>
							</dict>
							<key>arcade_ya/ARCADE_R.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								2zHz1UpErEhw
								F1KXpycBKw==
								</data>
								<key>Size</key>
								<integer>6928</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>arcade_ya/ARCADE_I.TTF</key>
							<dict>
								<key>Digest</key>
								<data>
								PhBI69HG5Pl1
								KuCzz+Gn+w==
								</data>
								<key>Size</key>
								<integer>36852</integer>
							</dict>
							<key>arcade_ya/ARCADE_N.TTF</key>
							<dict>
								<key>Digest</key>
								<data>
								lJ4V6W8TpKCU
								XQWYJpCh4g==
								</data>
								<key>Size</key>
								<integer>26500</integer>
							</dict>
							<key>arcade_ya/ARCADE_R.TTF</key>
							<dict>
								<key>Digest</key>
								<data>
								6RPr3N6VDY6b
								ns0iG6ZGpA==
								</data>
								<key>Size</key>
								<integer>28280</integer>
							</dict>
							<key>arcade_ya/Readme.TXT</key>
							<dict>
								<key>Digest</key>
								<data>
								Mit1Ms1nDzDJ
								MM4Cpi9iWQ==
								</data>
								<key>Size</key>
								<integer>505</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/chrisstayte/SourceControl/beltofdestiny/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-25T01:58:12Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>bootstrap.bundle.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								pEesjW6y12Fn
								1m+3KUlGgg==
								</data>
								<key>Size</key>
								<integer>80619</integer>
							</dict>
							<key>bootstrap.min.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Oa0McuS7uMqI
								g6sWfgXQYw==
								</data>
								<key>Size</key>
								<integer>232809</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zMH4Y3Fvp/u+
								PfbStWdNcA==
								</data>
								<key>Size</key>
								<integer>1312</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>bootstrap.bundle.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								pEesjW6y12Fn
								1m+3KUlGgg==
								</data>
								<key>Size</key>
								<integer>80619</integer>
							</dict>
							<key>bootstrap.min.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Oa0McuS7uMqI
								g6sWfgXQYw==
								</data>
								<key>Size</key>
								<integer>232809</integer>
							</dict>
							<key>jarallax.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								sdqK66knOwtN
								9TtowtU9Nw==
								</data>
								<key>Size</key>
								<integer>10474</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:FDY - file:///Users/chrisstayte/SourceControl/beltofdestiny/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T23:05:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NCfPoZc5oRNm
								Fz1fvgsJgw==
								</data>
								<key>Size</key>
								<integer>89</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								eBox/AF5fYfC
								oBWTADqceQ==
								</data>
								<key>Size</key>
								<integer>296</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:FDY</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/FDY</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:FDY - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NCfPoZc5oRNm
								Fz1fvgsJgw==
								</data>
								<key>Size</key>
								<integer>89</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								eBox/AF5fYfC
								oBWTADqceQ==
								</data>
								<key>Size</key>
								<integer>296</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:FDY</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/FDY</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>67F03B3E-9AD0-4D53-9B1F-26A938F672C3</key>
					<dict>
						<key>fileName</key>
						<string>ARCADE_R.woff2</string>
						<key>identifier</key>
						<string>67F03B3E-9AD0-4D53-9B1F-26A938F672C3</string>
						<key>lastResolvablePath</key>
						<string>/Users/chrisstayte/Library/Containers/com.realmacsoftware.rapidweaver8/Data/tmp/com.realmacsoftware.rapidweaver8-99201/NF8Dlh/ARCADE_R.woff2</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>77A58984-9E78-4DCB-8E07-5196BE982523</key>
					<dict>
						<key>fileName</key>
						<string>ARCADE_N.woff2</string>
						<key>identifier</key>
						<string>77A58984-9E78-4DCB-8E07-5196BE982523</string>
						<key>lastResolvablePath</key>
						<string>/Users/chrisstayte/Library/Containers/com.realmacsoftware.rapidweaver8/Data/tmp/com.realmacsoftware.rapidweaver8-99201/72IQpF/ARCADE_N.woff2</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>79052736-511E-4131-8843-7337F3C8F66C</key>
					<dict>
						<key>fileName</key>
						<string>ARCADE_I.woff2</string>
						<key>identifier</key>
						<string>79052736-511E-4131-8843-7337F3C8F66C</string>
						<key>lastResolvablePath</key>
						<string>/Users/chrisstayte/Library/Containers/com.realmacsoftware.rapidweaver8/Data/tmp/com.realmacsoftware.rapidweaver8-99201/nDjfLP/ARCADE_I.woff2</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvECwLDBUWICEiJiwtLjE4
				PlFSU1RYW2FHY2dobHd4eXp9g4SFkJGSk5acnZ6ipVUk
				bnVsbNMNDg8QEhRXTlMua2V5c1pOUy5vYmplY3RzViRj
				bGFzc6ERgAKhE4ADgCtUbm9kZdUXGBkaDxscHR4fVE5h
				bWVVaXRlbXNaaWRlbnRpZmllclhjaGlsZHJlboAFgCqA
				BIAGgClfECRDOEU5MkI1My1FMzA3LTQ5MjgtQThGMS0w
				QTE3OTdFMzY1N0VfEA9VbnRpdGxlZCBGb2xkZXLSDg8j
				JaEkgAeAC9UXGBkaDycoKSofgAmADIAIgAqAKV8QJEJB
				ODYyNzFGLTA1RTMtNEU2RC05NDVDLURFOUFCNTczMTgx
				NllhcmNhZGVfeWHSDg8vJaCAC9IyMzQ1WiRjbGFzc25h
				bWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjNDY3V05T
				QXJyYXlYTlNPYmplY3TSDg85JaM6OzyADYAZgCGAC9o/
				QA9BQkMXREVGR0hJSkpMTU5PUF5SZW1vdGVSZXNvdXJj
				ZVtPcmlnaW5hbFVSTFxQdWJsaXNoZWRVUkxdUHVibGlz
				aGVkRGF0ZV8QD0NoYW5nZWRTdGF0dXNlc1pJZGVudGlm
				aWVyWVRpbWVTdGFtcFlGaWxlVG9rZW4IgBeAGIAAgACA
				E4APgA6AEYAQXxAkNkJCOEZGMDktOTFDNi00QkJELThD
				MDAtQTYzOUJDMzAxRjk0XkFSQ0FERV9JLndvZmYyXxAk
				NzkwNTI3MzYtNTExRS00MTMxLTg4NDMtNzMzN0YzQzhG
				NjZD0lUPVldXTlMudGltZSNBxcVrGosYqIAS0jIzWVpW
				TlNEYXRlolk30w0OD1xeYKFdgBShX4AVgBZfEDtmaWxl
				Oi8vL1VzZXJzL2Nocmlzc3RheXRlL1NvdXJjZUNvbnRy
				b2wvYmVsdG9mZGVzdGlueS9kb2NzLwjSMjNkZV8QE05T
				TXV0YWJsZURpY3Rpb25hcnmjZGY3XE5TRGljdGlvbmFy
				eV8QKy9Vc2Vycy9jaHJpc3N0YXl0ZS9Eb3dubG9hZHMv
				QVJDQURFX0kud29mZjLSMjNpal5SV1NpdGVSZXNvdXJj
				ZaJrN15SV1NpdGVSZXNvdXJjZdo/QA9BQkMXREVGR25J
				Skpyc3R1dgiAIIAYgACAAIAegBuAGoAdgBxfECQ2NTgx
				RTE0Ri1BMTZBLTRGOEItQkUyRi04QzdCNjBCRjI5NUZe
				QVJDQURFX04ud29mZjJfECQ3N0E1ODk4NC05RTc4LTRE
				Q0ItOEUwNy01MTk2QkU5ODI1MjPSVQ97VyNBxcVrGosY
				24AS0w0OD36AYKF/gB+hX4AVgBZfEDtmaWxlOi8vL1Vz
				ZXJzL2Nocmlzc3RheXRlL1NvdXJjZUNvbnRyb2wvYmVs
				dG9mZGVzdGlueS9kb2NzL18QKy9Vc2Vycy9jaHJpc3N0
				YXl0ZS9Eb3dubG9hZHMvQVJDQURFX04ud29mZjLaP0AP
				QUJDF0RFRkeHSUpKi4yNjo8IgCiAGIAAgACAJoAjgCKA
				JYAkXxAkQkY5NDY4ODctQTFCRS00MTIxLUIwQTgtOTVD
				ODQxRjVDMDUxXkFSQ0FERV9SLndvZmYyXxAkNjdGMDNC
				M0UtOUFEMC00RDUzLTlCMUYtMjZBOTM4RjY3MkMz0lUP
				lFcjQcXFaxqLGPSAEtMNDg+XmWChmIAnoV+AFYAWXxA7
				ZmlsZTovLy9Vc2Vycy9jaHJpc3N0YXl0ZS9Tb3VyY2VD
				b250cm9sL2JlbHRvZmRlc3RpbnkvZG9jcy9fECsvVXNl
				cnMvY2hyaXNzdGF5dGUvRG93bmxvYWRzL0FSQ0FERV9S
				LndvZmYy0jIzn6BcUldTaXRlRm9sZGVyoqE3XFJXU2l0
				ZUZvbGRlctIOD6MloIAL0jIzZqaiZjcACAARABoAJAAp
				ADIANwBJAEwAUQBTAIIAiACPAJcAogCpAKsArQCvALEA
				swC4AMMAyADOANkA4gDkAOYA6ADqAOwBEwElASoBLAEu
				ATABOwE9AT8BQQFDAUUBbAF2AXsBfAF+AYMBjgGXAaYB
				qgGyAbsBwAHEAcYByAHKAcwB4QHwAfwCCQIXAikCNAI+
				AkgCSQJLAk0CTwJRAlMCVQJXAlkCWwKCApECuAK9AsUC
				zgLQAtUC3ALfAuYC6ALqAuwC7gLwAy4DLwM0A0oDTgNb
				A4kDjgOdA6ADrwPEA8UDxwPJA8sDzQPPA9ED0wPVA9cD
				/gQNBDQEOQRCBEQESwRNBE8EUQRTBFUEkwTBBNYE1wTZ
				BNsE3QTfBOEE4wTlBOcE6QUQBR8FRgVLBVQFVgVdBV8F
				YQVjBWUFZwWlBdMF2AXlBegF9QX6BfsF/QYCAAAAAAAA
				AgEAAAAAAAAApwAAAAAAAAAAAAAAAAAABgU=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>https://beltofdestiny.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2024 Chris Stayte</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>beltofdestiny@christayte.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va+wCAAAAAAQQMAAA
							AOvfAjc/6pIvNiBSDU6s
							EA+Zlhqsjp5BLzOW8AgV
							mYRm6AEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAGNo
							cmlzc3RheXRlAA0AAAAB
							AQAAU291cmNlQ29udHJv
							bAAAAA0AAAABAQAAYmVs
							dG9mZGVzdGlueQAAAAQA
							AAABAQAAZG9jcxQAAAAB
							BgAAEAAAACAAAAA0AAAA
							TAAAAGQAAAAIAAAABAMA
							ALlcAAAAAAAACAAAAAQD
							AACCswMAAAAAAAgAAAAE
							AwAA7FgUAAAAAAAIAAAA
							BAMAAPqXUAcAAAAACAAA
							AAQDAADqwaEHAAAAABQA
							AAABBgAAjAAAAJwAAACs
							AAAAvAAAAMwAAAAIAAAA
							AAQAAEHFxUs7XXVQGAAA
							AAECAAACAAAAAAAAAA8A
							AAAAAAAAAAAAAAAAAAAI
							AAAABAMAAAMAAAAAAAAA
							BAAAAAMDAAD1AQAACAAA
							AAEJAABmaWxlOi8vLwwA
							AAABAQAATWFjaW50b3No
							IEhECAAAAAQDAAAAIEWM
							0AEAAAgAAAAABAAAQcWW
							TsiAAAAkAAAAAQEAADA2
							NDkzMThCLTMzOEEtNDY5
							MC04OUQ4LTE4MDVEM0RG
							MEJFNhgAAAABAgAAgQAA
							AAEAAADvEwAAAQAAAAAA
							AAAAAAAAAQAAAAEBAAAv
							AAAAAAAAAAEFAADMAAAA
							/v///wEAAAAAAAAAEAAA
							AAQQAABwAAAAAAAAAAUQ
							AADcAAAAAAAAABAQAAAI
							AQAAAAAAAEAQAAD4AAAA
							AAAAAAIgAADUAQAAAAAA
							AAUgAABEAQAAAAAAABAg
							AABUAQAAAAAAABEgAACI
							AQAAAAAAABIgAABoAQAA
							AAAAABMgAAB4AQAAAAAA
							ACAgAAC0AQAAAAAAADAg
							AADgAQAAAAAAAAHAAAAo
							AQAAAAAAABHAAAAgAAAA
							AAAAABLAAAA4AQAAAAAA
							ABDQAAAEAAAAAAAAAA==
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Source Control</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string>https://beltofdestiny.com/</string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RWBadge</key>
					<string>{"openInNewWindow":true,"position":"bottomLeft","enabled":false,"delayType":"time","useDefaultImage":true,"delayDistance":30,"text":"Made in RapidWeaver","hiddenOnMobile":false,"delayMillis":1000,"transition":"slide","colorScheme":"auto","hiddenOnDesktop":false,"imageAlt":"RapidWeaver Icon","hiddenOnTablet":false,"url":"https:\/\/www.realmacsoftware.com"}</string>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>Save the world</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Foundry v3</string>
					<key>TitleText</key>
					<string>Best of Destiny</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>AEFC6EBA-9335-492A-A636-22909EF838CB_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalBodyStart</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
					<key>webServerPHPVersion</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
