<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/bs-fonts/bootstrap-icons.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UhlihN4fy1sE
								TwAadUgtug==
								</data>
								<key>Size</key>
								<integer>164352</integer>
							</dict>
							<key>files/bs-fonts/bootstrap-icons.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								f0d2M93RL4Qo
								RlTyouibig==
								</data>
								<key>Size</key>
								<integer>121296</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NsaK1kaVjAFZ
								R6qmyy6QKg==
								</data>
								<key>Size</key>
								<integer>74241</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NxtFc8QGa4di
								J8xFmNO0Uw==
								</data>
								<key>Size</key>
								<integer>111930</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								EhT/VKB6NuDG
								y3H0Vp3YIA==
								</data>
								<key>Size</key>
								<integer>11457</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MTUEldQsysjJ
								bhrW5xRllg==
								</data>
								<key>Size</key>
								<integer>3960</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								ASmiIv4QyYlt
								sZHFN2lGmQ==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								uYOQUwUjWob/
								NGKQO1nw0Q==
								</data>
								<key>Size</key>
								<integer>175</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>arcade_ya/ARCADE_I.TTF</key>
							<dict>
								<key>Digest</key>
								<data>
								PhBI69HG5Pl1
								KuCzz+Gn+w==
								</data>
								<key>Size</key>
								<integer>36852</integer>
							</dict>
							<key>arcade_ya/ARCADE_N.TTF</key>
							<dict>
								<key>Digest</key>
								<data>
								lJ4V6W8TpKCU
								XQWYJpCh4g==
								</data>
								<key>Size</key>
								<integer>26500</integer>
							</dict>
							<key>arcade_ya/ARCADE_R.TTF</key>
							<dict>
								<key>Digest</key>
								<data>
								6RPr3N6VDY6b
								ns0iG6ZGpA==
								</data>
								<key>Size</key>
								<integer>28280</integer>
							</dict>
							<key>arcade_ya/Readme.TXT</key>
							<dict>
								<key>Digest</key>
								<data>
								Mit1Ms1nDzDJ
								MM4Cpi9iWQ==
								</data>
								<key>Size</key>
								<integer>505</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>bootstrap.bundle.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								pEesjW6y12Fn
								1m+3KUlGgg==
								</data>
								<key>Size</key>
								<integer>80619</integer>
							</dict>
							<key>bootstrap.min.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Oa0McuS7uMqI
								g6sWfgXQYw==
								</data>
								<key>Size</key>
								<integer>232809</integer>
							</dict>
							<key>jarallax.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								sdqK66knOwtN
								9TtowtU9Nw==
								</data>
								<key>Size</key>
								<integer>10474</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:FDY - file:///Users/chrisstayte/SourceControl/beltofdestiny/front_page/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-02-24T21:28:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NCfPoZc5oRNm
								Fz1fvgsJgw==
								</data>
								<key>Size</key>
								<integer>89</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								eBox/AF5fYfC
								oBWTADqceQ==
								</data>
								<key>Size</key>
								<integer>296</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:FDY</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/FDY</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>5F474926-C04D-439C-9F29-567F72640D75</key>
					<dict>
						<key>fileName</key>
						<string>Readme.TXT</string>
						<key>identifier</key>
						<string>5F474926-C04D-439C-9F29-567F72640D75</string>
						<key>lastResolvablePath</key>
						<string>/Users/chrisstayte/Library/Containers/com.realmacsoftware.rapidweaver8/Data/tmp/com.realmacsoftware.rapidweaver8-99201/SVwWRU/Readme.TXT</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>97C274C7-AF1F-4502-94E7-91906DBF4E43</key>
					<dict>
						<key>fileName</key>
						<string>ARCADE_R.TTF</string>
						<key>identifier</key>
						<string>97C274C7-AF1F-4502-94E7-91906DBF4E43</string>
						<key>lastResolvablePath</key>
						<string>/Users/chrisstayte/Library/Containers/com.realmacsoftware.rapidweaver8/Data/tmp/com.realmacsoftware.rapidweaver8-99201/LA4sxT/ARCADE_R.TTF</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>E190D90F-8F16-4BAA-B530-EC046A7176BC</key>
					<dict>
						<key>fileName</key>
						<string>ARCADE_I.TTF</string>
						<key>identifier</key>
						<string>E190D90F-8F16-4BAA-B530-EC046A7176BC</string>
						<key>lastResolvablePath</key>
						<string>/Users/chrisstayte/Library/Containers/com.realmacsoftware.rapidweaver8/Data/tmp/com.realmacsoftware.rapidweaver8-99201/aPIxrk/ARCADE_I.TTF</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>EB420BBF-B93A-4843-840C-F89D22190B8B</key>
					<dict>
						<key>fileName</key>
						<string>ARCADE_N.TTF</string>
						<key>identifier</key>
						<string>EB420BBF-B93A-4843-840C-F89D22190B8B</string>
						<key>lastResolvablePath</key>
						<string>/Users/chrisstayte/Library/Containers/com.realmacsoftware.rapidweaver8/Data/tmp/com.realmacsoftware.rapidweaver8-99201/ZGBrKI/ARCADE_N.TTF</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvEDQLDBUWICEiJiwtLjE4
				P1JTVFVZXGJIZGhpbXh5ent+hIWGkZKTlJednp+qq6yt
				sLa3uLy/VSRudWxs0w0ODxASFFdOUy5rZXlzWk5TLm9i
				amVjdHNWJGNsYXNzoRGAAqETgAOAM1Rub2Rl1RcYGRoP
				GxwdHh9UTmFtZVVpdGVtc1ppZGVudGlmaWVyWGNoaWxk
				cmVugAWAMoAEgAaAMV8QJEM4RTkyQjUzLUUzMDctNDky
				OC1BOEYxLTBBMTc5N0UzNjU3RV8QD1VudGl0bGVkIEZv
				bGRlctIODyMloSSAB4AL1RcYGRoPJygpKh+ACYAMgAiA
				CoAxXxAkQkE4NjI3MUYtMDVFMy00RTZELTk0NUMtREU5
				QUI1NzMxODE2WWFyY2FkZV95YdIODy8loIAL0jIzNDVa
				JGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFibGVBcnJh
				eaM0NjdXTlNBcnJheVhOU09iamVjdNIODzklpDo7PD2A
				DYAZgCGAKYAL2kBBD0JDRBdFRkdISUpLS01OT1BRXlJl
				bW90ZVJlc291cmNlW09yaWdpbmFsVVJMXFB1Ymxpc2hl
				ZFVSTF1QdWJsaXNoZWREYXRlXxAPQ2hhbmdlZFN0YXR1
				c2VzWklkZW50aWZpZXJZVGltZVN0YW1wWUZpbGVUb2tl
				bgiAF4AYgACAAIATgA+ADoARgBBfECQzMTg5MDgxRC1E
				NUFBLTQwRDAtQUYyMy1FMDI2MDEzNzIyMjNcQVJDQURF
				X04uVFRGXxAkRUI0MjBCQkYtQjkzQS00ODQzLTg0MEMt
				Rjg5RDIyMTkwQjhC0lYPV1hXTlMudGltZSNBxcVLcbgf
				84AS0jIzWltWTlNEYXRlolo30w0OD11fYaFegBShYIAV
				gBZfEEFmaWxlOi8vL1VzZXJzL2Nocmlzc3RheXRlL1Nv
				dXJjZUNvbnRyb2wvYmVsdG9mZGVzdGlueS9mcm9udF9w
				YWdlLwjSMjNlZl8QE05TTXV0YWJsZURpY3Rpb25hcnmj
				ZWc3XE5TRGljdGlvbmFyeV8QlC9Vc2Vycy9jaHJpc3N0
				YXl0ZS9MaWJyYXJ5L0NvbnRhaW5lcnMvY29tLnJlYWxt
				YWNzb2Z0d2FyZS5yYXBpZHdlYXZlcjgvRGF0YS90bXAv
				Y29tLnJlYWxtYWNzb2Z0d2FyZS5yYXBpZHdlYXZlcjgt
				OTkyMDEvQmg2OVl4L2FyY2FkZV95YS9BUkNBREVfTi5U
				VEbSMjNqa15SV1NpdGVSZXNvdXJjZaJsN15SV1NpdGVS
				ZXNvdXJjZdpAQQ9CQ0QXRUZHSG9KS0tzdHV2dwiAIIAY
				gACAAIAegBuAGoAdgBxfECREMEMzMkYwQi03Qjg5LTQ4
				RDItOTc4Qi0yNEM1MkIyREZGMzhcQVJDQURFX0kuVFRG
				XxAkRTE5MEQ5MEYtOEYxNi00QkFBLUI1MzAtRUMwNDZB
				NzE3NkJD0lYPfFgjQcXFS3G4IB2AEtMNDg9/gWGhgIAf
				oWCAFYAWXxBBZmlsZTovLy9Vc2Vycy9jaHJpc3N0YXl0
				ZS9Tb3VyY2VDb250cm9sL2JlbHRvZmRlc3RpbnkvZnJv
				bnRfcGFnZS9fEJQvVXNlcnMvY2hyaXNzdGF5dGUvTGli
				cmFyeS9Db250YWluZXJzL2NvbS5yZWFsbWFjc29mdHdh
				cmUucmFwaWR3ZWF2ZXI4L0RhdGEvdG1wL2NvbS5yZWFs
				bWFjc29mdHdhcmUucmFwaWR3ZWF2ZXI4LTk5MjAxL0Jo
				NjlZeC9hcmNhZGVfeWEvQVJDQURFX0kuVFRG2kBBD0JD
				RBdFRkdIiEpLS4yNjo+QCIAogBiAAIAAgCaAI4AigCWA
				JF8QJDFENjcxNTkwLTdERkYtNDZERC05RTI4LUQ5MUE1
				OUI3QUU1M1xBUkNBREVfUi5UVEZfECQ5N0MyNzRDNy1B
				RjFGLTQ1MDItOTRFNy05MTkwNkRCRjRFNDPSVg+VWCNB
				xcVLcbggNoAS0w0OD5iaYaGZgCehYIAVgBZfEEFmaWxl
				Oi8vL1VzZXJzL2Nocmlzc3RheXRlL1NvdXJjZUNvbnRy
				b2wvYmVsdG9mZGVzdGlueS9mcm9udF9wYWdlL18QlC9V
				c2Vycy9jaHJpc3N0YXl0ZS9MaWJyYXJ5L0NvbnRhaW5l
				cnMvY29tLnJlYWxtYWNzb2Z0d2FyZS5yYXBpZHdlYXZl
				cjgvRGF0YS90bXAvY29tLnJlYWxtYWNzb2Z0d2FyZS5y
				YXBpZHdlYXZlcjgtOTkyMDEvQmg2OVl4L2FyY2FkZV95
				YS9BUkNBREVfUi5UVEbaQEEPQkNEF0VGR0ihSktLpaan
				qKkIgDCAGIAAgACALoArgCqALYAsXxAkRTE2OTEyODEt
				NjA2Qi00RTZDLUI4MkQtQURERjBCNDhGODAyWlJlYWRt
				ZS5UWFRfECQ1RjQ3NDkyNi1DMDRELTQzOUMtOUYyOS01
				NjdGNzI2NDBENzXSVg+uWCNBxcVLcbggR4AS0w0OD7Gz
				YaGygC+hYIAVgBZfEEFmaWxlOi8vL1VzZXJzL2Nocmlz
				c3RheXRlL1NvdXJjZUNvbnRyb2wvYmVsdG9mZGVzdGlu
				eS9mcm9udF9wYWdlL18Qki9Vc2Vycy9jaHJpc3N0YXl0
				ZS9MaWJyYXJ5L0NvbnRhaW5lcnMvY29tLnJlYWxtYWNz
				b2Z0d2FyZS5yYXBpZHdlYXZlcjgvRGF0YS90bXAvY29t
				LnJlYWxtYWNzb2Z0d2FyZS5yYXBpZHdlYXZlcjgtOTky
				MDEvQmg2OVl4L2FyY2FkZV95YS9SZWFkbWUuVFhU0jIz
				ubpcUldTaXRlRm9sZGVyors3XFJXU2l0ZUZvbGRlctIO
				D70loIAL0jIzZ8CiZzcACAARABoAJAApADIANwBJAEwA
				UQBTAIoAkACXAJ8AqgCxALMAtQC3ALkAuwDAAMsA0ADW
				AOEA6gDsAO4A8ADyAPQBGwEtATIBNAE2ATgBQwFFAUcB
				SQFLAU0BdAF+AYMBhAGGAYsBlgGfAa4BsgG6AcMByAHN
				Ac8B0QHTAdUB1wHsAfsCBwIUAiICNAI/AkkCUwJUAlYC
				WAJaAlwCXgJgAmICZAJmAo0CmgLBAsYCzgLXAtkC3gLl
				AugC7wLxAvMC9QL3AvkDPQM+A0MDWQNdA2oEAQQGBBUE
				GAQnBDwEPQQ/BEEEQwRFBEcESQRLBE0ETwR2BIMEqgSv
				BLgEugTBBMMExQTHBMkEywUPBaYFuwW8Bb4FwAXCBcQF
				xgXIBcoFzAXOBfUGAgYpBi4GNwY5BkAGQgZEBkYGSAZK
				Bo4HJQc6BzsHPQc/B0EHQwdFB0cHSQdLB00HdAd/B6YH
				qwe0B7YHvQe/B8EHwwfFB8cICwigCKUIsgi1CMIIxwjI
				CMoIzwAAAAAAAAIBAAAAAAAAAMEAAAAAAAAAAAAAAAAA
				AAjS
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>https://beltofdestiny.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2024 Chris Stayte</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>beltofdestiny@christayte.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va/QCAAAAAAQQMAAA
							AGvbDo5gpEybfy8+Bwyy
							LFk/YELzU6dWYvxxJtYw
							Jbkj8AEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAALAAAAAQEAAGNo
							cmlzc3RheXRlAA0AAAAB
							AQAAU291cmNlQ29udHJv
							bAAAAA0AAAABAQAAYmVs
							dG9mZGVzdGlueQAAAAoA
							AAABAQAAZnJvbnRfcGFn
							ZQAAFAAAAAEGAAAQAAAA
							IAAAADQAAABMAAAAZAAA
							AAgAAAAEAwAAuVwAAAAA
							AAAIAAAABAMAAIKzAwAA
							AAAACAAAAAQDAADsWBQA
							AAAAAAgAAAAEAwAA+pdQ
							BwAAAAAIAAAABAMAAOrB
							oQcAAAAAFAAAAAEGAACU
							AAAApAAAALQAAADEAAAA
							1AAAAAgAAAAABAAAQcXF
							SztddVAYAAAAAQIAAAIA
							AAAAAAAADwAAAAAAAAAA
							AAAAAAAAAAgAAAAEAwAA
							AwAAAAAAAAAEAAAAAwMA
							APUBAAAIAAAAAQkAAGZp
							bGU6Ly8vDAAAAAEBAABN
							YWNpbnRvc2ggSEQIAAAA
							BAMAAAAgRYzQAQAACAAA
							AAAEAABBxZZOyIAAACQA
							AAABAQAAMDY0OTMxOEIt
							MzM4QS00NjkwLTg5RDgt
							MTgwNUQzREYwQkU2GAAA
							AAECAACBAAAAAQAAAO8T
							AAABAAAAAAAAAAAAAAAB
							AAAAAQEAAC8AAAAAAAAA
							AQUAAMwAAAD+////AQAA
							AAAAAAAQAAAABBAAAHgA
							AAAAAAAABRAAAOQAAAAA
							AAAAEBAAABABAAAAAAAA
							QBAAAAABAAAAAAAAAiAA
							ANwBAAAAAAAABSAAAEwB
							AAAAAAAAECAAAFwBAAAA
							AAAAESAAAJABAAAAAAAA
							EiAAAHABAAAAAAAAEyAA
							AIABAAAAAAAAICAAALwB
							AAAAAAAAMCAAAOgBAAAA
							AAAAAcAAADABAAAAAAAA
							EcAAACAAAAAAAAAAEsAA
							AEABAAAAAAAAENAAAAQA
							AAAAAAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Source Control</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string>https://beltofdestiny.com/</string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RWBadge</key>
					<string>{"delayMillis":1000,"hiddenOnDesktop":false,"openInNewWindow":true,"delayDistance":30,"text":"Made in RapidWeaver","enabled":false,"delayType":"time","url":"https:\/\/www.realmacsoftware.com","transition":"slide","imageAlt":"RapidWeaver Icon","hiddenOnMobile":false,"useDefaultImage":true,"position":"bottomLeft","colorScheme":"auto","hiddenOnTablet":false}</string>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>Save the world</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Foundry v3</string>
					<key>TitleText</key>
					<string>Best of Destiny</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>AEFC6EBA-9335-492A-A636-22909EF838CB_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalBodyStart</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
					<key>webServerPHPVersion</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
